/* Header */
.header {
    height: var(--header-height);
    /* background-image: linear-gradient(0,#FF6633, #F53E2D); */
    background-color: var(--primary-color);
    margin-bottom: 40px;
}

/* Header navbar */
.header-navbar {
    display: flex;
    justify-content: space-between;
}

.header-navbar-list {
    list-style: none;
    padding-left: 0;
}

.header-navbar-item, .header-navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header-navbar-item,
.header-navbar-item-link,
.header-navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header-navbar-item:hover,
.header-navbar-item-link:hover,
.header-navbar-icon-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header-navbar-item {
    margin: 0 8px;
    position: relative;
}

.header-navbar-item--strong {
    font-weight: 400;
}

.header-navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #ccc;
    height: 16px;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
}

.header-navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header-navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header-navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.header-logo {
    width: 300px;
}

.header-logo-img {
    width: 280px;
}

.header-search {
    flex: 1;
    height: 40px;
    border-radius: 3px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header-cart {
    width: 150px;
    text-align: center;
}

.header-cart:hover {
    cursor: pointer;
}

.header-cart-icon {
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 3px;
}

.header-cart-icon:hover {
    color: rgba(255,255,255,0.7);
}

.header-admin:hover {
    cursor: pointer;
}

.header-admin-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header-admin-icon:hover {
    color: rgba(255,255,255,0.7);
}

.header-search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header-search-btn {
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header-search-btn:hover {
    background-color: #6fbcf3;
    cursor: pointer;
}

.header-search-btn-icon {
    font-size: 1.5rem;
    color: var(--white-color);
}

/* Banner */

.banner {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

.banner-images {
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.slides {
    display: none;
}

.dot {
    /* cursor: pointer; */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


/* App container */
.container {
    background-color: #f5f5f5;
    /* Không hiển thị được màu, phải css inline */
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category_heading {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 12px 9px;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
}

.category_heading-icon {
    font-size: 1.4rem;
    margin-right: 2px;
}

.category-list {
    padding: 0 0 12px 0;
    list-style: none;
    margin-left: 6px;
}

/* .category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 4px;
    content: "";
    border: 4px solid;
    transform: translateY(calc(-50%));
    border-color: transparent transparent transparent var(--primary-color);
} */

.category-item__link {
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 9px;
    display: block;
    cursor: pointer;
}

.category-item__link:hover {
    color: var(--primary-color);
}

/* Product item */
.product {
    margin-bottom: 30px;
}

.product-item {
    display: block;
    background-color: var(--white-color);
    margin-top: 12px;
    text-decoration: none;
    border: 1px solid #EEEEEE;
}
.product-item_img {
    padding-top: 100%;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product-item_name {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
}
.product-item_price {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
}

.product-item_action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.product-item_like {
    font-size: 1.3rem;
}

.product-item_rating {
    font-size: 1rem;
    color: #d5d5d5;
    margin-left: auto;
}

.product-item_star-gold {
    color:#FFCE3E;
}

.product-item_sold {
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 6px;
}
.product-item_origin {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.product-add{
    text-align: center;
    margin: 10px 0;
}

.product-add-btn {
    height: 20px;
    font-size: 1.2rem;
}

/* Footer */
.footer {
    border-top: 3px solid var(--primary-color);
    padding-top: 12px;
    background-color: #f5f5f5;
}

.footer_heading {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item_link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
}

.footer-item_link:hover {
    color: var(--primary-color);
}

.footer-item_member {
    color: var(--primary-color);
    font-size: 1.3rem;
    cursor: default;
}

.footer-item_icon {
    font-size: 1.6rem;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--white-color);
    margin: 5px auto;
    width: 30%;
    height: 80%;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.modal-admin-content {
    background-color: var(--white-color);
    margin: 5px auto;
    width: 80%;
    height: auto;
    border: 1px solid #888;
    border-radius: 5px;
}


/* Đăng nhập */
.login-container{
    margin: auto;
    padding-top: 10%;
    font-size: 2rem;
    position: relative;
}

.login-container h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 5rem;
    margin-bottom: 15%;
    /* margin-left: 20%; */
}

.login-username, .login-password {
    margin: 0 10%;
    width: 80%;
    height: 40px;
    margin-bottom: 2%;
    border-radius: 2px;
    border: 1px solid;
    font-size: 1.6rem;
    color: var(--text-color);
    padding-left: 10px;
    border-radius: 3px;
}

.cancelbtn {
    margin-top: 3%;
    margin-left: 21%;
    margin-right: 5%;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 5px;
    border: 1px solid;
}

.loginbtn {
    background-color: cornflowerblue;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 5px;
    border: 1px solid;
}

.login-footer {
    margin-top: 10%;
    text-align: center;
}

.login-footer p a{
    text-decoration: none;
}

/* Đăng ký */
.signup-container {
    margin: auto;
    padding-top: 5%;
    font-size: 1.6rem;
    position: relative;
}

.signup-container h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 5rem;
    margin-bottom: 10%;
    /* margin-left: 20%; */
}

.signup-container p {
    text-align: center;
    font-size: 1.2rem;
}

.signup-firstName {
    width: 40%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 2px;
    border: 1px solid;
    padding-left: 10px;
    height: 30px;
}

.signup-lastName {
    width: 40%;
    border-radius: 2px;
    border: 1px solid;
    padding-left: 10px;
    height: 30px;
}

.signup-email, .signup-password, .signup-cfpassword {
    width: 81.1%;
    margin-left: 9%;
    border-radius: 2px;
    border: 1px solid;
    padding-left: 10px;
    height: 30px;
}

.signup-agree {
    cursor: pointer;
}

.signupbtn {
    cursor: pointer;
    padding: 10px 18px;
    margin-top: 3%;
    margin-left: 39%;
    margin-bottom: 3%;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: 1px solid;
}

.signup-footer a {
    text-decoration: none;
}

/* Admin */
.admin-container {
    margin: auto;
    /* padding-top: 10%; */
    /* font-size: 2rem; */
    position: relative;
    padding: 20px;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: var(--black-color);
}

.close-admin,
.close-cart {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: var(--black-color);
}
  
.close:hover,
.close:focus,
.close-admin:hover,
.close-admin:focus,
.close-cart:hover,
.close-cart:focus {
    /* color: #f44336; */
    color: var(--primary-color);
    cursor: pointer;
}

/* Admin */
table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
table, th, td{
    border: 1px solid;
    background-color: var(--white-color);
}
th, td{
    padding: 5px;
}

td {
    text-align: center;
    padding: 20px;
}

.admin-control input {
    padding: 5px 10px;
    width: 120px;
    margin-right: 5px;
}

.admin-control button {
    width: 50px;
    height: 25px;
}
.admin-control .add_btn {
    background-color: #337AB7;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.admin-control .add_btn:hover {
    cursor: pointer;
}

.admin-control .clear_btn {
    background-color: #D9534F;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.admin-control .clear_btn:hover {
    cursor: pointer;
}

.admin-name {
    text-align: left;
}

.modal-cart-container {
    position: relative;
}

#table img {
    width: 100px;
}

.admin-remove {
   text-align: center;
}

.remove_btn {
    margin-right: 10px;
}


/* Cart */
.modal-cart-content {
    background-color: var(--white-color);
    /* margin: 5px auto;
    width: 50%;
    height: 80%;
    border: 1px solid #888;
    border-radius: 5px; */
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-cart-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
}

.cart-title {
    font-size: 1.5rem;
}

.modal-cart-body {
    padding: 1rem;
}

.modal-cart-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
}

.modal-cart-footer>:not(:first-child) {
    margin-left: .25rem;
}

.btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
  
.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}


.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
  
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
  
.cart-row {
    display: flex;
}
  
.cart-item {
    width: 45%;
}
  
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
  
.cart-quantity {
    width: 35%;
}
  
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
  
.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
  
.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
  
.btn-danger:hover {
    background-color: #CC4C4C;
}
  
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
  
.cart-row:last-child {
    border-bottom: 1px solid black;
}
  
.cart-row:last-child .cart-column {
    border: none;
}
  
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
  
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
  
.cart-total-price {
    color: #333;
    font-size: 1.1em;
}